@font-face {
    font-family: "Porsche";
    src: url('../fonts/Porsche Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.block1 {
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 40px;
    color: #2f3030;
    background-color: black;
    font-family: "Porsche";
    font-size: 10vh;
}

.content {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.block2 {
    display: flex;
    width: 30%;
    background-image: url('https://i.pinimg.com/736x/4f/0a/18/4f0a1860c9672297f161ec0d65906e18.jpg');
    background-size: cover;
}


.columns {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.block6 {
    display: flex;
    background-image: url('https://cdn.motor1.com/images/mgl/Ak2zry/s1/porsche-718-cayman-gt4-rs.jpg');
    background-position: center;
    height: 30%;
}

.rows {
    display: flex;
    height: 70%;
}

.block4 {
    display: flex;
    background-image: url('https://www.xtrafondos.com/wallpapers/vertical/porsche-cayman-gt4-de-frente-9667.jpg');
    background-size: cover;
    width: 25%;
}

.center {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.block3 {
    display: flex;
    height: 75%;
    background-image: url('https://newsroom.porsche.com/.imaging/mte/porsche-templating-theme/image_1290x726/dam/pnr/2021/Products/718-Cayman-GT4-RS/769_003_highres.jpeg/jcr:content/769_003_highres.jpeg');
    background-size: cover;
    color: white;
    padding: 15px;
} 

.block5 {
    display: flex;
    height: 25%;
    font-size: 2.5vh;
    background-color: black;
}

.left_urls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.left_urls li {
    margin: 3vh;
}

.left_urls a {
    color: white;
    text-decoration: none;
}

.right_urls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.right_urls li {
    margin: 3vh;
}

.right_urls a {
    color: white;
    text-decoration: none;
}

