@font-face {
    font-family: "Porsche";
    src: url('../fonts/Porsche Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.block1 {
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 40px;
    color: #2f3030;
    background-color: black;
    font-family: "Porsche";
    font-size: 10vh;
}

.content {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.block2 {
    display: flex;
    width: 30%;
    background-image: url('https://www.autocar.co.uk/sites/autocar.co.uk/files/porsche_macan_4s_urban.jpg');
    background-size: cover;
	background-position: center;
}


.columns {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.block6 {
    display: flex;
    background-image: url('https://pictures.porsche.com/rtt/iris?COSY-EU-100-1711coMvsi60AAt5FwcmBEgA4qP8iBUDxPE3Cb9pNXABuN9dMGF4tl3U0%25z8rMH8spbWvanYb%255y%25oq%25vSTmjMXD4qAZeoNBPUSfUx4RmHlCgI7Zl2dioCt1qQDcFGHjzYnfurDX95yPewCozhRc2GvbqA7fQr7DOJUPYNerTB8VuyY0oVk0DB3TwbupQNqjdtAsvyJ5P');
    background-position: center;
	background-size: cover;
    height: 30%;
}

.rows {
    display: flex;
    height: 70%;
}

.block4 {
    display: flex;
    background-image: url('https://www.hdwallpapers.in/download/2017_porsche_macan_turbo_performance_edition_4k-1440x2560.jpg');
    background-size: cover;
    width: 25%;
}

.center {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.block3 {
    display: flex;
    height: 75%;
    background-image: url('https://nextcar.ua/images/companies/1/macan_ev/porsche_macan_ev%20(7).jpg?1706209312244');
    background-size: cover;
    color: white;
    padding: 15px;
} 

.block5 {
    display: flex;
    height: 25%;
    font-size: 2.5vh;
    background-color: black;
}

.left_urls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.left_urls li {
    margin: 3vh;
}

.left_urls a {
    color: white;
    text-decoration: none;
}

.right_urls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.right_urls li {
    margin: 3vh;
}

.right_urls a {
    color: white;
    text-decoration: none;
}

