@font-face {
    font-family: "Porsche";
    src: url('../fonts/Porsche Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #2f3030;
    background-color: black;
    font-family: "Porsche", sans-serif;
    font-size: 8vmin;
}

.block1.swapped {
    color: white;
    font-size: 2vmin;
    font-family: Comfortaa, sans-serif;
}

.block6.swapped {
    color: white;
    font-family: "Porsche", sans-serif;
    font-size: 8vmin;
}

.porsche_logo {
    height: 0;
}

.content {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.block2 {
    display: flex;
    width: 30vw;
    background-image: url('../source/911.avif');
    background-size: cover;
	background-position: center;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.buttons button {
    padding: 2vmin;
    border-radius: 2vmin;
    background-color: #2f3030;
    color: white;
    border-width: 0;
    font-size: 2vmin;
    margin: 2vmin;
}

.buttons button:hover {
    background-color: #3e4040;
}

.dynamicList {
    overflow-y: scroll;
    padding-right: 2vw;
    color: white;
    font-size: 2vmin;
    text-shadow: 0 0.1vmin 0.5vmin black;
    margin-bottom: 2vmin;
}

.removeButton {
    padding: 1vmin;
    border-radius: 1.5vmin;
    background-color: #2f3030;
    color: white;
    font-size: 1.5vmin;
    border-width: 0;
    margin: 1vmin;
}

.removeButton:hover {
    background-color: #3e4040;
}

.columns {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.block6 {
    display: flex;
    flex-direction: column;
    background-color: #2f3030;
    height: 25vh;
    padding: 2.4vmin;
    color: white;
    font-size: 2vmin;
    align-items: center;
    justify-content: center;
}

.rows {
    display: flex;
    height: 75vh;
}

.block4 {
    display: flex;
    background-image: url('../source/cabri.avif');
    background-size: cover;
    background-position: center;
    width: 25vw;
}

.center {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.block3 {
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: center;
    background-image: url('../source/911gt.avif');
    background-size: cover;
    background-position: center;
    font-size: 2.2vmin;
    color: white;
    padding: 15px;
}

.calc {
    padding: 2vmin;
    border-radius: 2vmin;
    background-color: #2f3030;
    color: white;
    border-width: 0;
    font-size: 2vmin;
    margin: 2vmin;
}

.calc:hover {
    background-color: #3e4040;
}

.resultBlock {
    padding: 1.5vmin;
    background-color: #2f3030;
    border-radius: 1.5vmin;
    margin: 2vmin;
    font-size: 2vmin;
    font-family: "Comfortaa", sans-serif;
}

.block5 {
    display: flex;
    height: 35vh;
    background-color: black;
    justify-content: center;
    font-size: 3vmin;
    background-image: url('../source/uni.avif');
    background-size: cover;
    background-position: center;
    align-items: center;
}

.reverse::-webkit-inner-spin-button,
.reverse::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.reverse {
    margin: 2vmin;
    border-width: 0;
    border-radius: 1.5vmin;
    height: 5vh;
    width: 15vw;
    padding: 1.5vmin;
    font-size: 1.9vmin;
    background-color: #2f3030;
    color: white;
}

.swap {
    padding: 2vmin;
    border-radius: 2vmin;
    background-color: #2f3030;
    color: white;
    border-width: 0;
    font-size: 2vmin;
}

.swap:hover {
    background-color: #3e4040;
}

.align3 {
    display: flex;
    padding: 2vmin;
    border-radius: 2vmin;
    background-color: #2f3030;
    color: white;
    border-width: 0;
    font-size: 2vmin;
    margin: 2vmin;
}

.align3:hover {
    background-color: #3e4040;
}

@media (max-width: 768px) {
    .block5 a {
        height: 20vmin;
        width: 42vmin;
        font-size: 7vmin;
        border-radius: 4vmin;
    }

    .block3 {
        flex-direction: row;
        justify-content: space-between;
    }

    .block1 {
        height: 7vh;
    }

    .content {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .block2 {
        height: 20vh;
        width: auto;
    }

    .columns {
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .block6 {
        height: 8vh;
        width: auto;
    }

    .rows {
        flex-direction: column;
        height: auto;
    }

    .block4 {
        height: 20vh;
        width: auto;
    }

    .center {
        flex-direction: column;
        width: auto;
    }

    .block3 {
        height: 20vh;
        width: auto;
    }

    .block5 {
        height: 25vh;
        width: auto;
    }
}

@media (max-width: 315px) {
    .block1 {
        font-size: 0;
    }

    .porsche_logo {
        object-fit: cover;
        height: 6vmin;
    }
}





